@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Fustat:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) saturate(100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffe5e5;
}

header {
    background-color: #e5bfff;
}

h1 {
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

h2 {
    font-family: 'Fustat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-family: 'Freeman', sans-serif;
    font-size: 24px;
}

h4 {
    font-family: 'Freeman', sans-serif;
    font-size: 16px;
}

.img-pair img {        
    height: auto;
}


.tarjeta-enlace {
    background-color: #ac87c5;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    
    button {
        color: white;
        background-color: #756ab6;
        border-radius: 3px;
        border: none;
        font-weight: bold;
    }
    button:hover {
        color: #756ab6;
        background-color: white;
        border-color: #756ab6;
    }
}

footer {
    background-color: #e0aed0;
}
