@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Fustat:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0) saturate(100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffe5e5;
}

a {
    color: #ac87c5;
    font-weight: bold;
}

a:hover {
    color: white;
}

nav {
    background-color: #e5bfff;
}

#logo {
    height: 40px;
    width: auto;
    max-height: 40px;
}

h1 {
    font-family: 'Futura', sans-serif;
    font-size: 32px;
}

h2 {
    font-family: 'Fustat', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Freeman', sans-serif;
    font-size: 24px;
}

h4 {
    font-family: 'Freeman', sans-serif;
    font-size: 16px;
}

.img-pair img {        
    height: auto;
}

.tarjeta-enlace {
    background-color: #ac87c5;
    border: 2px solid black;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.tarjeta-enlace:hover {
    transform: scale(1.1);
}

button {
    color: white;
    background-color: #756ab6;
    border-color: #756ab6;
}

button:hover {
    color: #756ab6;
    background-color: white;
}

footer {
    background-color: #e5bfff;
}
